#u311.PamphletThumbSelected #u312-4 p,#u312-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u308-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u314-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u310-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u369-4,#u361-4,#u368-4,#u370-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u369-6,#u369-8,#u369-10,#u369-12,#u369-14,#u369-15,#u369-18,#u361-6,#u361-8,#u361-10,#u361-12,#u361-14,#u361-15,#u361-18,#u361-19,#u368-6,#u368-8,#u368-10,#u368-12,#u368-14,#u368-16,#u368-17,#u368-21,#u370-6,#u370-8,#u370-10,#u370-12,#u370-14,#u370-16,#u370-17,#u370-20
{
	font-family: droid-sans-n4, sans-serif;
}

#u356-4,#u216-6,#u219,#u358,#u358-3,#u220-6,#u221-4,#u373-6,#widgetu247.frm-subm-ok-st #u262-6 p,#u262-6
{
	font-family: ubuntu-n7, sans-serif;
}

#widgetu394.frm-subm-ok-st #u400-6 p,#u400-6
{
	font-family: ubuntu-n7, sans-serif;
}

#u245,#u245-2,#u416-4,#u393,#u393-2
{
	font-family: ubuntu-n4, sans-serif;
}

#u321-5,#u319-5,#u219-6,#u227-6,#u228-7,#u229-6,#u358-6,#u359-4,#u226-4,#u245-6,#u391-4,#u393-6,#u411-4
{
	font-family: ubuntu-n3, sans-serif;
}

